@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

#menu{
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#menu a{
    font-size: 1.5em;
    font-weight: 700;
}


#menusito{
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    align-items: center;

}

#nosotros{
    display: flex;
    flex-flow: row wrap;
    padding: 100px;
    justify-content: space-evenly;
}

#texto{
    font-size: 1.2em;
    width: 50%;
    color: white;
}

#texto h1{
    font-weight: 700;
}

#productos h1{
    font-weight: 700;
}

#cards{
    padding: 50px;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;

}

.card{
    padding: 10px;
}

.card-body{
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
}

.card-body p{ 
    font-weight: 700;
}

#pie{
    height: 90px;
    text-align: center;
    padding: 20px;
}


#modal{
    background-color: rgba(0, 0, 0, 0.507);
    height: 1495px;
    position: absolute;
    top: -1495px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal_info{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding: 50px;
    border-radius: 10px;
}

#modal_info_title{
    font-weight: 700;
}

#modal_info_subtitle{
    color: grey;
}

#anime{
    font-size: 1.2em;
}


